/build/
/phpunit.xml

/bin/*
!/bin/console
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/api/vendor/
/web/bundles/
/mobile/node_modules
.env

/client-gestionly/
/client-orpheon/
/client-web/node_modules
/api/var
/api/vendor
/api/var
/api/vendor
/docker/database/
